
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'coolvetica';
    src: url('assets/fonts/coolvetica.ttf') format('opentype');
}

html{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
