
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Asgard';
    src: url('assets/fonts/AsgardTrial-Bold.ttf') format('truetype');
}

html{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
